th {
  text-align: center;
}
td {
  text-align: center;
}
.cart_img-box img {
  width: 35px;
}
.cart_item-del {
  cursor: pointer;
  color: #df2020;
}
.cart_page-btn button a:hover {
  color: #fff;
}

.cart_subtotal span {
  color: #df2020;
  font-weight: 600;
  font-size: 1.4rem;
}
.price_content p {
  color: #777;
  font-size: 0.9rem;
}
